/*Styling Selectbox*/

.dropdown {
    width: 300px;
    display: inline-block;
    background-color: var(--dropdown-bg);
    border-radius: 2px;
    box-shadow: var(--dropdown-shadow);
    transition: all .2s linear;
    position: relative;
    font-size: 14px;
    color: var(--dropdown-fg);
    height: 100%;
    text-align: left
}

.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}

.dropdown .select>i {
    font-size: 13px;
    color: var(--dropdown-select);
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}

.dropdown:hover {
    box-shadow: var(--dropdown-hover-shadow);
}

.dropdown:active {
    background-color: var(--dropdown-active);
}

.dropdown.active:hover,
.dropdown.active {
    box-shadow: var(--dropdown-active-hover-shadow);
    border-radius: 2px 2px 0 0;
    background-color: var(--dropdown-active-hover-bg);
}

.dropdown.active .select>i {
    transform: rotate(-90deg)
}

.dropdown .dropdown-menu {
    position: absolute;
    background-color: var(--dropdown-menu-bg);
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: var(--dropdown-menu-shadow);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 300px;
    overflow-y: auto;
    z-index: 9
}

.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}

.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}

.dropdown .dropdown-menu li:hover {
    background-color: var(--dropdown-menu-li-hover-bg);
}

.dropdown .dropdown-menu li:active {
    background-color: var(--dropdown-menu-li-active-bg);
}